.chat {
    display: flex;
    flex-direction: column;

    [data-component="chatting"] {
        flex: 1;
    }
}

.chat-top-fixed {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    .infoProduct {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $gray3;
        align-items: center;
        padding: 1em 1em;
        background-color: white;

        .product {
            display: flex;
            align-items: center;
            height: 100%;

            .img {
                background: $off-white;
                border: 1px solid $gray3;
                box-sizing: border-box;
                border-radius: 6px;
                width: 50px; // 임시로 설정
                height: 50px; // 임시로 설정
                background-repeat: no-repeat;
                margin-right: 0.8em;
                background-size: contain;
                background-position: center;
            }

            .product-desc {
                display: flex;
                flex-direction: column;
                justify-content: center;

                #title {
                    color: black;
                    font-size: 1em;
                }

                #price {
                    color: $gray4;
                    font-size: 0.9em;
                }
            }
        }

        .product-status {
            text-align: center;
            border: 1px solid $gray3;
            border-radius: 8px;
            padding: 1em;
        }
    }
}

[data-component="chatbar"] {
    display: flex;
    align-items: center;
    border-top: 1px solid $gray3;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: $off-white;
    padding: 0.5rem 1rem;

    .chat-inner {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid $gray3;
        border-radius: 18px;
        outline-style: none;
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        background-color: white;
    }

    .send-svg {
        display: flex;
        align-items: center;
        svg {
            margin-left: 0.7rem;
            width: 2em;
        }
    }
}


[data-component="chatting"] {
    padding: 0 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: calc(100vh - 198px);
    .chatBubbleBox {
        display: flex;
        width: 100%;
        margin-top: 0.6rem;

        &:last-child {
            margin-bottom: 0.6rem;
        }

        .chatBubble {
            border: 1px solid $primary1;
            padding: 0.5em 0.7em;
            max-width: 80%;
        }

        &[data-type="me"] {
            justify-content: flex-end;

            .chatBubble {
                border-radius: 8px 0 8px 8px;
                background-color: $primary1;
                color: white;
            }
        }

        &[data-type="yu"] {
            justify-content: flex-start;

            .chatBubble {
                border-radius: 0 8px 8px 8px;
            }
        }
    }
}
