.location-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $primary1;
    border-radius: 8px;
    background-color: $white;
    box-sizing: border-box;
    padding: 6px 16px;
    color: $primary3;
    font-weight: 500;
    height: 40px;

    & svg {
        stroke: $primary2;
    }

    &[data-type="active"] {
        background-color: $primary1;
        color: $white;
    }

    &[data-type="add"] {
        display: flex;
        justify-content: center;
        svg {
            width: 1em;
        }
    }
}

[data-component="location-buttons"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

[data-component="location-setting-text"] {
    text-align: center;
    color: $gray4;
    margin: 1em 0 2em 0;
}
