@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

$title-active : #222222; //각종 타이틀 || 링크
$primary1: #2AC1BC; // service main color
$primary2: #A0E1E0; // service main color (light)
$primary3: #219A95; // service main color (dark)
$error: #F45452; // service main color (dark)
$gray1 : #888888; // 본문 및 라벨
$gray2 : #BBBBBB; // placeholder
$gray3 : #D7D7D7; // line으
$off-white : #F6F6F6; //  서브 배경색 
$white : #fff; // 기본 배경색으로

$border-radius : 8px;

.body {
  font-family: Noto Sans KR;
}

.typo {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;

  &.large {
    font-size: 18px;
    line-height: 24px;
  }

  &.medium {
    font-size: 16px;
    line-height: 22px;
  }

  &.small {
    font-size: 14px;
    line-height: 20px;
  }

  &.xsmall {
    font-size: 12px;
    line-height: 16px;
  }
}

.type-link {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;

  .medium {
    font-size: 16px;
    line-height: 22px;
  }

  .small {
    font-size: 14px;
    line-height: 20px;
  }

  .xsmall {
    font-size: 12px;
    line-height: 16px;
  }
}

.btn {
  background-color: $primary1;
  border: 1px solid $primary1;
  border-radius: $border-radius;

  &:hover {
    background-color: $primary3;
    border: 1px solid $primary3;
  }

  &:focus {
    background-color: $primary1;
    border: 2px solid $primary2;
  }

  &:disabled {
    background-color: $primary2;
    border: 1px solid $primary2;
  }
}

input {
  border: 1px solid $gray3;
  border-radius: $border-radius;
  height: 40px;

  &:focus {
    border: 1px solid $gray3;
  }
}