@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

$title-active: #222222; //각종 타이틀 || 링크
$primary1: #2ac1bc; // service main color
$primary2: #a0e1e0; // service main color (light)
$primary3: #219a95; // service main color (dark)
$error: #f45452; // service main color (dark)
$gray1: #888888; // 본문 및 라벨
$gray2: #bbbbbb; // placeholder
$gray3: #d7d7d7; // line으
$gray4: #828282; // text 지정에서 gray3이라고 되어 있음
$off-white: #f6f6f6; //  서브 배경색
$white: #fff; // 기본 배경색으로

$border-radius: 8px;
$border-small-radius: 6px;
$header-max-height: 56px;

$shadow-default: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
$max-common-container-width: 500px;
$pc-max-width: 1050px;

#root {
  max-width: $pc-max-width;
  margin: 0 auto;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

svg {
  stroke: $title-active;
  width: 24px;
  height: 24px;
  stroke-width: 1px;
  fill: none;

  &[color='error'] {
    stroke: $error;
  }

  &[color='gray1'] {
    stroke: $gray1;
  }

  &[color='primary1'] {
    stroke: $primary1;
  }
}

[type='delete'] {
  color: $error !important;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  border: 0 none;
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 57px;
  font-size: 1em;
  line-height: 1.33em;
  vertical-align: top;
  overflow-wrap: break-word; // 단어 단위 줄바꿈
  white-space: pre-wrap; // 스페이스, 탭, 개행 문자 보존 & 자동줄바꿈
  cursor: text; // 커서 형태
  color: #000;
  resize: none;
  overflow-y: auto;
}

.body {
  font-family: 'Noto Sans KR';
}

pre {
  font-family: 'Noto Sans KR';
}

.typo {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: normal;

  &.large {
    font-size: 18px;
    line-height: 24px;
  }

  &.medium {
    padding-top: 3px;
    font-size: 16px;
    line-height: 22px;
  }

  &.small {
    font-size: 14px;
    line-height: 20px;
  }

  &.xsmall {
    font-size: 12px;
    line-height: 16px;
  }
}

.type-link {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;

  &.medium {
    font-size: 16px;
    line-height: 22px;
  }

  &.small {
    font-size: 14px;
    line-height: 20px;
  }

  &.xsmall {
    font-size: 12px;
    line-height: 16px;
  }
}

.btn {
  display: block;
  text-align: center;
  background-color: $primary1;
  border: 1px solid $primary1;
  border-radius: $border-radius;
  color: $white;
  width: auto;
  padding: 0.8rem;

  &:hover {
    background-color: $primary3;
    border: 1px solid $primary3;
  }

  &:focus {
    background-color: $primary1;
    border: 2px solid $primary2;
    outline: none;
  }

  &:disabled {
    background-color: $primary2;
    border: 1px solid $primary2;
  }
}

input {
  display: block;
  border: 1px solid $gray3;
  border-radius: $border-radius;
  height: 40px;
  width: 100%;
  margin: 0.8rem 0;
  padding: 0 0.8rem;
  box-sizing: border-box;

  &:focus {
    border: 1px solid $primary1;
    outline: none;
  }
}

button {
  &:focus {
    outline: none;
  }
}

.content {
  padding: 1.5rem;
}

.common-header {
  position: sticky;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: $header-max-height;
    background-color: $off-white;
    border-bottom: 1px solid $gray3;

    li {
      margin: 0.5rem;
      display: flex;
      align-items: center;

      &:first-child {
        cursor: pointer;
        justify-self: flex-start;
        margin-left: 1rem;
      }

      &:last-child {
        cursor: pointer;
        justify-self: flex-end;
        margin-right: 1rem;
      }
    }
  }
}

.link-btn {
  display: block;
  text-align: center;
  padding: 0.8rem;
  color: #000;
  text-decoration: none;
}

/* input popup */
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(141, 145, 144, 0.5);
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border-radius: 10px;
    padding: 1.5em 1.3em 1.3em 1.3em;
    width: 70%;
    box-shadow: $shadow-default;
    backdrop-filter: blur(4px);

    [data-text] {
      margin-bottom: 20px;
    }

    .inputpopup-input {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 1.3em;
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      .cancel {
        color: black;
      }

      .okay {
        color: $primary1;

        &[disabled] {
          color: $gray1;
        }
      }

      .leave {
        color: $error;
      }
    }
  }
}

/* chatting */
.chats-list {
  .chat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    a {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
    }

    .chat-info-wrap {
      width: calc(100% - 105px - 1rem);
      padding-right: 1rem;
    }

    .chat-last-talk {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $gray1;

      .chat-nosee-cnt {
        margin-left: auto;
        background-color: #219a95;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 0 10px;
        min-width: calc(1.8em - 20px);
        height: 1.8em;

        div {
          padding-top: 4px;
        }
      }

      .last-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 1.8em);
      }
    }

    .chat-last-check {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .chat-item-img {
      border-radius: 10px;
      overflow: hidden;
      max-width: 105px;
      max-height: 105px;
      min-height: 105px;
      min-height: 105px;

      img {
        max-width: 105px;
        max-height: 105px;
        min-height: 105px;
        min-height: 105px;
      }
    }
  }
}

.empty-content {
  color: $gray4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* dropdown */

@keyframes growOut {
  0% {
    transform: scale(0) translateX(-50%);
  }

  80% {
    transform: scale(1.1) translateX(-50%);
  }

  100% {
    transform: scale(1) translateX(-50%);
  }
}

@keyframes growIn {
  0% {
    transform: scale(1) translateX(-50%);
  }

  20% {
    transform: scale(1.1) translateX(-50%);
  }

  100% {
    transform: scale(0) translateX(-50%);
  }
}

.dropdown-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}

.dropdown {
  display: block;
  z-index: 101;
  flex-direction: column;
  position: absolute;
  top: 3rem;
  left: 50%;
  background-color: $off-white;
  border-radius: 10px;
  width: auto;
  min-width: auto;
  box-shadow: $shadow-default;

  $growTime: 150ms;
  /* dropdown 클릭시 */
  animation: growOut $growTime ease-in-out forwards;
  transform-origin: top center;

  &[clicked] {
    /* dropdown 제거 시 */
    animation: growIn $growTime ease-in-out forwards;
    transform-origin: top center;
  }

  .dropdown-item {
    white-space: nowrap;
    color: black;
    border-bottom: 1px solid $gray3;
    padding: 1rem;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.line {
  margin: 1.5rem 0;
  height: 1px;
  background-color: $gray3;
}

.bookmark {
  cursor: pointer;
  svg {
    stroke-width: 2px;
    width: 30px;
    height: 30px;
    transition: all 0.3s;
    stroke: $gray1;
  }
  &.check {
    svg {
      fill: $primary1;
      stroke: $primary1;
    }
  }
}

.snackbar {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.5s ease-in-out;
  background: $primary1;
  color: $white;
  padding: 0.8rem 1rem 0.6rem;
  width: 50%;
  min-width: 160px;
  max-width: 500px;
  text-align: center;
  border-radius: $border-radius;

  &.show {
    bottom: 30px;
  }
}
